<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>rating</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h2>国民総ガゼッタ(仮)</h2>
        <p>〜 Japan vs Columbia 〜</p>
      </div>
      <ul class="player-list">
      </ul>
      <div class="text-center">
        <div class="mom">
          <p>MOM(Man of the Match)</p>
          <select name="text">
            <option value="1">遠藤</option>
            <option value="2">香川</option>
            <option value="3">柿谷</option>
          </select>
          <button type="button" class="btn btn-info btn-xs mom-btn">送信</button>
        </div>
      </div>
      <div class="summary">
        <p>総評</p>
        <textarea id="summary-text" placeholder="総評を入力してください" style="width: 100%"></textarea>
        <div class="text-center">
          <button type="button" class="btn btn-info btn-sm summary-btn">送信</button>
        </div>
      </div>
      <table class="table">
      </table>
      <div class="player-opinion">
      </div>
    </div>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
