body {
  padding: 2px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #eee;
}

h3 {
  font-size: 18px;
  border-bottom: solid 2px #000;
  padding-bottom: 4px;
}

a {
  color: #00B7FF;
}

ul {
  list-style-type: none;
  padding: 0;
}
/*
.col-xs-3, .col-xs-9 {
  padding-left: 5px;
  padding-right: 5px;
}
*/

.input-area {
  padding-top: 5px;
  padding-bottom: 5px;
}
 
.btn-area {
}


.player-img {
  box-sizing: border-box;
  background-repeat: no-repeat;
}
.player-name {
  text-align: center;
}

