body {
  padding: 2px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #eee;
}

h3 {
  font-size: 18px;
  border-bottom: solid 2px #000;
  padding-bottom: 4px;
}

a {
  color: #00B7FF;
}

ul.player-list {
  list-style-type: none;
  padding: 0;
}

.row {
  border-radius: 4px;
  background-color: #FF6699;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 0px;
}
.col-xs-3, .col-xs-9 {
  padding-left: 5px;
  padding-right: 5px;
}

.jumbotron {
  background-color: #0033FF;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}
.jumbotron > h2 {
  font-weight: bold;
}
.jumbotron > p {
  font-size: 14px;
}

/*
.col-xs-3, .col-xs-9 {
  padding-left: 5px;
  padding-right: 5px;
}
*/

.input-area {
  padding-top: 5px;
  padding-bottom: 5px;
}
 
.btn-area {
}


.player-img {
  box-sizing: border-box;
}
.player-img-detail {
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.player-name {
  text-align: center;
  color: #fff;
}

.summary {

}
.summary > p {
  background-color: #cca6bf;
  color: #fff;
  padding: 4px;
  margin-bottom: 0px;
}
.summary > textarea {
  resize: none;
  border-left: 5px solid #cca6bf;
  border-right: 5px solid #cca6bf;
  border-bottom: 5px solid #cca6bf;
  border-top: none;
}
.summary > button {
}
